{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="dark">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="color-scheme" content="light dark" />
        <link rel="stylesheet" href="{% static 'css/pico.cyan.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
        <title>
            {% block wholetitle %}
                {% block title %}
                {% endblock title %}
                - Rhestri
            {% endblock wholetitle %}
        </title>
    </head>
    <body>
        <main class="container">
            <nav>
                <ul>
                    <li>
                        <a href="/" class="contrast">Rhestri</a>
                    </li>
                </ul>
                <ul>
                    {% if request.user.is_authenticated %}
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Services</a>
                        </li>
                        <li>
                            <a href="#">Products</a>
                        </li>
                        <li>
                            <details class="dropdown">
                                <summary>Account</summary>
                                <ul dir="rtl">
                                    <li>
                                        <a href="#">Profile</a>
                                    </li>
                                    <li>
                                        <a href="#">Settings</a>
                                    </li>
                                    <li>
                                        <a href="#">Security</a>
                                    </li>
                                    <li>
                                        <a href="#">Logout</a>
                                    </li>
                                </ul>
                            </details>
                        </li>
                    {% else %}
                        <li>
                            <a href="/auth/login">
                                <button>Login</button>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            {% block content %}
            {% endblock content %}
        </main>
    </body>
</html>
